/data/
/venv/
# Ignore Python virtual environments
venv/
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore temporary Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore log files
*.log
logs/
